.jumbotron-landing-page{
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/amazon-home-decor-1533590825.png?crop=1.00xw:1.00xh;0,0&resize=1200:*');
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
}